In [233]:
import pandas as pd
import numpy as np

In [234]:
from src.postgres_session import get_postgres_connection
conn = get_postgres_connection()

In [235]:
df = pd.read_sql("select * from bank_customer_churn", conn)

In [236]:
df

,Acct_ID,YEARS_WITH_BANK,CHURN,RISK_RATING,CURRENCY,AVE BAL,SCHEME_TYPE,MOBILE_APP_ADOPTION,INTERNET_BANKING_ADOPTION,USSD_BANKING_ADOPTION,DIGITAL_LOAN,UNSECURED_LOAN,TERMLOAN_STATUS,CREDIT_CARD,SUBSEGMENT,LAST_12_MONTHS_CREDIT_VOLUME,LAST_12_MONTHS_DEBIT_VOLUME,LAST_12_MONTHS_DEBIT_VALUE,LAST_12_MONTHS_CREDIT_VALUE
0,Account_0,10,0,LOW,NGN,302.34,ODA,N,N,N,N,N,N,N,product7,0,0,-,-
1,Account_1,7,1,LOW,NGN,640.55,SBA,Y,Y,N,N,N,N,N,product7,23,84,"1,641,781.54","1,650,610.00"
2,Account_2,12,1,MEDIUM,NGN,"2,549.96",SBA,N,N,Y,N,N,N,N,product6,0,2,"5,427.50",-
3,Account_3,12,0,MEDIUM,USD,"9,999.17",ODA,N,Y,Y,N,N,N,N,product6,0,0,-,-
4,Account_4,12,1,MEDIUM,NGN,455.25,SBA,Y,Y,Y,N,N,N,N,product8,439,116,"6,768,632.00","6,784,830.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,Account_489070,8,0,MEDIUM,NGN,106.60,ODA,N,N,N,N,N,N,N,product7,0,0,-,-
499996,Account_489071,9,1,LOW,NGN,33.72,SBA,N,N,Y,N,N,N,N,product5,142,91,"296,204.03","294,710.00"
499997,Account_489072,4,0,LOW,NGN,60.58,SBA,Y,N,Y,N,N,N,N,product5,0,0,-,-
499998,Account_489073,3,0,LOW,NGN,"1,151.76",SBA,Y,Y,N,N,N,N,N,product5,0,0,-,-
499999,Account_489074,1,0,MEDIUM,NGN,-,SBA,N,N,N,N,N,N,N,product7,0,0,-,-

In [237]:
df.columns = df.columns.str.lower()

In [238]:
df

,acct_id,years_with_bank,churn,risk_rating,currency,ave bal,scheme_type,mobile_app_adoption,internet_banking_adoption,ussd_banking_adoption,digital_loan,unsecured_loan,termloan_status,credit_card,subsegment,last_12_months_credit_volume,last_12_months_debit_volume,last_12_months_debit_value,last_12_months_credit_value
0,Account_0,10,0,LOW,NGN,302.34,ODA,N,N,N,N,N,N,N,product7,0,0,-,-
1,Account_1,7,1,LOW,NGN,640.55,SBA,Y,Y,N,N,N,N,N,product7,23,84,"1,641,781.54","1,650,610.00"
2,Account_2,12,1,MEDIUM,NGN,"2,549.96",SBA,N,N,Y,N,N,N,N,product6,0,2,"5,427.50",-
3,Account_3,12,0,MEDIUM,USD,"9,999.17",ODA,N,Y,Y,N,N,N,N,product6,0,0,-,-
4,Account_4,12,1,MEDIUM,NGN,455.25,SBA,Y,Y,Y,N,N,N,N,product8,439,116,"6,768,632.00","6,784,830.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,Account_489070,8,0,MEDIUM,NGN,106.60,ODA,N,N,N,N,N,N,N,product7,0,0,-,-
499996,Account_489071,9,1,LOW,NGN,33.72,SBA,N,N,Y,N,N,N,N,product5,142,91,"296,204.03","294,710.00"
499997,Account_489072,4,0,LOW,NGN,60.58,SBA,Y,N,Y,N,N,N,N,product5,0,0,-,-
499998,Account_489073,3,0,LOW,NGN,"1,151.76",SBA,Y,Y,N,N,N,N,N,product5,0,0,-,-
499999,Account_489074,1,0,MEDIUM,NGN,-,SBA,N,N,N,N,N,N,N,product7,0,0,-,-

In [239]:
df = df.rename(columns={
  "years_with_bank" : "years",
  "risk_rating" : "risk",
  "scheme_type" : "scheme",
  "mobile_app_adoption" : "mobile_app",
  "internet_banking_adoption" : "internet_banking",
  "ussd_banking_adoption" : "ussd_banking",
  "termloan_status" : "termloan",
  "last_12_months_credit_volume" : "credit_vol",
  "last_12_months_debit_volume" : "debit_vol",
  " last_12_months_debit_value " : "debit_val",
  " last_12_months_credit_value " : "credit_val",
  " ave bal " : "ave_bal"
}
)

In [240]:
df.columns

Index(['acct_id', 'years', 'churn', 'risk', 'currency', 'ave_bal', 'scheme',
       'mobile_app', 'internet_banking', 'ussd_banking', 'digital_loan',
       'unsecured_loan', 'termloan', 'credit_card', 'subsegment', 'credit_vol',
       'debit_vol', 'debit_val', 'credit_val'],
      dtype='object')

In [241]:
df.dtypes

acct_id             object
years                int64
churn                int64
risk                object
currency            object
ave_bal             object
scheme              object
mobile_app          object
internet_banking    object
ussd_banking        object
digital_loan        object
unsecured_loan      object
termloan            object
credit_card         object
subsegment          object
credit_vol           int64
debit_vol            int64
debit_val           object
credit_val          object
dtype: object

In [242]:
df.isnull().sum()

acct_id             0
years               0
churn               0
risk                1
currency            0
ave_bal             0
scheme              0
mobile_app          0
internet_banking    0
ussd_banking        0
digital_loan        0
unsecured_loan      0
termloan            0
credit_card         0
subsegment          0
credit_vol          0
debit_vol           0
debit_val           0
credit_val          0
dtype: int64

In [243]:
df["ave_bal"] = df['ave_bal'].replace(" ", '', regex=True)
df["ave_bal"] = df['ave_bal'].replace(",", '', regex=True)
df["ave_bal"] = df['ave_bal'].replace("-", '', regex=True)
df['ave_bal'] = df['ave_bal'].str.replace(r'[()]', '', regex=True)
df['ave_bal'] = df['ave_bal'].replace('', np.nan)

In [244]:
df

,acct_id,years,churn,risk,currency,ave_bal,scheme,mobile_app,internet_banking,ussd_banking,digital_loan,unsecured_loan,termloan,credit_card,subsegment,credit_vol,debit_vol,debit_val,credit_val
0,Account_0,10,0,LOW,NGN,302.34,ODA,N,N,N,N,N,N,N,product7,0,0,-,-
1,Account_1,7,1,LOW,NGN,640.55,SBA,Y,Y,N,N,N,N,N,product7,23,84,"1,641,781.54","1,650,610.00"
2,Account_2,12,1,MEDIUM,NGN,2549.96,SBA,N,N,Y,N,N,N,N,product6,0,2,"5,427.50",-
3,Account_3,12,0,MEDIUM,USD,9999.17,ODA,N,Y,Y,N,N,N,N,product6,0,0,-,-
4,Account_4,12,1,MEDIUM,NGN,455.25,SBA,Y,Y,Y,N,N,N,N,product8,439,116,"6,768,632.00","6,784,830.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,Account_489070,8,0,MEDIUM,NGN,106.60,ODA,N,N,N,N,N,N,N,product7,0,0,-,-
499996,Account_489071,9,1,LOW,NGN,33.72,SBA,N,N,Y,N,N,N,N,product5,142,91,"296,204.03","294,710.00"
499997,Account_489072,4,0,LOW,NGN,60.58,SBA,Y,N,Y,N,N,N,N,product5,0,0,-,-
499998,Account_489073,3,0,LOW,NGN,1151.76,SBA,Y,Y,N,N,N,N,N,product5,0,0,-,-
499999,Account_489074,1,0,MEDIUM,NGN,NaN,SBA,N,N,N,N,N,N,N,product7,0,0,-,-

In [245]:
df.loc[df['ave_bal'].str.strip() == '', 'ave_bal']

Series([], Name: ave_bal, dtype: object)

In [246]:
df["ave_bal"] = df["ave_bal"].astype("float64")

In [247]:
df["debit_val"] = df['debit_val'].replace(" ", '', regex=True)
df["debit_val"] = df['debit_val'].replace(",", '', regex=True)
df["debit_val"] = df['debit_val'].replace("-", '', regex=True)
df['debit_val'] = df['debit_val'].str.replace(r'[()]', '', regex=True)
df['debit_val'] = df['debit_val'].replace('', 0)

In [248]:
df["credit_val"] = df['credit_val'].replace(" ", '', regex=True)
df["credit_val"] = df['credit_val'].replace(",", '', regex=True)
df["credit_val"] = df['credit_val'].replace("-", '', regex=True)
df['credit_val'] = df['credit_val'].str.replace(r'[()]', '', regex=True)
df['credit_val'] = df['credit_val'].replace('', 0)

In [249]:
df["debit_val"] = df["debit_val"].astype("float64")
df["credit_val"] = df["credit_val"].astype("float64")

In [250]:
df.dtypes

acct_id              object
years                 int64
churn                 int64
risk                 object
currency             object
ave_bal             float64
scheme               object
mobile_app           object
internet_banking     object
ussd_banking         object
digital_loan         object
unsecured_loan       object
termloan             object
credit_card          object
subsegment           object
credit_vol            int64
debit_vol             int64
debit_val           float64
credit_val          float64
dtype: object

In [251]:
df.isnull().sum()

acct_id                 0
years                   0
churn                   0
risk                    1
currency                0
ave_bal             66013
scheme                  0
mobile_app              0
internet_banking        0
ussd_banking            0
digital_loan            0
unsecured_loan          0
termloan                0
credit_card             0
subsegment              0
credit_vol              0
debit_vol               0
debit_val               0
credit_val              0
dtype: int64

In [252]:
df = df.dropna()

In [253]:
df.isnull().sum()

acct_id             0
years               0
churn               0
risk                0
currency            0
ave_bal             0
scheme              0
mobile_app          0
internet_banking    0
ussd_banking        0
digital_loan        0
unsecured_loan      0
termloan            0
credit_card         0
subsegment          0
credit_vol          0
debit_vol           0
debit_val           0
credit_val          0
dtype: int64

In [254]:
df.shape

(433986, 19)

In [255]:
df

,acct_id,years,churn,risk,currency,ave_bal,scheme,mobile_app,internet_banking,ussd_banking,digital_loan,unsecured_loan,termloan,credit_card,subsegment,credit_vol,debit_vol,debit_val,credit_val
0,Account_0,10,0,LOW,NGN,302.34,ODA,N,N,N,N,N,N,N,product7,0,0,0.00,0.0
1,Account_1,7,1,LOW,NGN,640.55,SBA,Y,Y,N,N,N,N,N,product7,23,84,1641781.54,1650610.0
2,Account_2,12,1,MEDIUM,NGN,2549.96,SBA,N,N,Y,N,N,N,N,product6,0,2,5427.50,0.0
3,Account_3,12,0,MEDIUM,USD,9999.17,ODA,N,Y,Y,N,N,N,N,product6,0,0,0.00,0.0
4,Account_4,12,1,MEDIUM,NGN,455.25,SBA,Y,Y,Y,N,N,N,N,product8,439,116,6768632.00,6784830.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,Account_489069,5,0,MEDIUM,NGN,3046.39,SBA,N,N,N,N,N,N,N,product6,0,0,0.00,0.0
499995,Account_489070,8,0,MEDIUM,NGN,106.60,ODA,N,N,N,N,N,N,N,product7,0,0,0.00,0.0
499996,Account_489071,9,1,LOW,NGN,33.72,SBA,N,N,Y,N,N,N,N,product5,142,91,296204.03,294710.0
499997,Account_489072,4,0,LOW,NGN,60.58,SBA,Y,N,Y,N,N,N,N,product5,0,0,0.00,0.0
499998,Account_489073,3,0,LOW,NGN,1151.76,SBA,Y,Y,N,N,N,N,N,product5,0,0,0.00,0.0